<div class="container">
	<div class="row">
		<div class="col-xs-6">Lorem5</div>
		<div class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet veniam aspernatur veritatis vel ex consequatur laboriosam accusamus, nulla asperiores unde quaerat facilis repudiandae totam incidunt architecto dolorum quae corporis labore!</div>
		<div class="col-xs-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum animi quia commodi sint suscipit fugit facilis ad, iusto id tenetur eos rem blanditiis est nesciunt, quae quasi vitae quibusdam! Labore!</div>
		<div class="col-xs-6">Lorem ipsum dolor sit amet.</div>
	</div>
</div>